a-scene(vr-mode-ui="enabled: false"
        cursor="rayOrigin: mouse; fuse: false"
        raycaster="objects: .clickable")
    a-assets
        img(id="ocean-background" src="img/8k-1.jpg")
    
    a-camera(look-controls="enabled: true; reverseMouseDrag: true"
        wasd-controls="enabled: false" fov="60" position="0 0 0")

    a-sky(material="src: #ocean-background")

    //- Create rigged objects
    - for(let i=0; i < 5; i++)
        +partials_sea-object({color: '#ddffdd', className: 'green', link: `mariela-${String.fromCharCode(65+i)}.html`})

    - for(let i=0; i < 6; i++)
        +partials_sea-object({color: '#ffdddd', className: 'red', link: `ana-0${i+1}.html`})

    - const modalNames = ['A1','A2','A3','A4','B1','C1','C2','D1','E1','E2'];
    - for(let name of modalNames)
        +partials_sea-object({color: '#ddffdd', className: 'greenSmall', link: `mariela-${name}.html`})